.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}
.details img {
  max-width: 30%;
  min-width: 290px;
  min-height: 300px;
  display: block;
  object-fit: contain;
  margin: 25px;
  order: 2;
  -webkit-order: 2;
}
.details .box {
  max-width: 60%;
  min-width: 290px;
  margin: 25px;
  order: 1;
  -webkit-order: 1;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span {
  color: crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
}
.box .continue {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #333;
}
.box .continue:disabled {
  background: #e6e6e6;
  color: #afafaf;
  border: 1px solid #ccc;
  cursor: not-allowed;
}
.back-btn {
  margin: 50px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

@media only screen and (max-width: 1024px) {
  .details img {
    order: 1;
    -webkit-order: 1;
  }
  .details .box {
    order: 2;
    -webkit-order: 2;
  }
}
