.payment-option-container {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
}

.payment-option-container div {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
}

.payment-option-container div:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

.full-pay-in {
  max-width: 300px;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}

.one-time-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
.one-time-payment:last-child {
  border-bottom: 0px solid #e6e6e6;
  padding: 0px;
}
.one-time-payment .price {
  font-weight: bold;
}
.one-time-payment div:last-child {
  text-align: right;
}
